html {
    font-family: 'Shadows Into Light';
}
body {
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-gap: 30px; 
    grid-template: "a a" minmax(150px, auto)
                   "a a" minmax(150px, auto)
                   "b c" minmax(auto, 150px)
                   "d e" minmax(auto, 150px)
                   "f g" minmax(auto, 150px)
                   "h i" minmax(auto, 150px)
                   "j ."minmax(auto, 150px);
    margin: 10px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#ffffff, #e5e5e2);
    border-radius: 7px;
    position: relative;
    box-shadow: 5px 5px 10px rgb(84,84,74,0.25);
}

@media screen and (min-width: 767px){
    .container {
        grid-template: "a a b" minmax(150px, auto)
                       "a a c" minmax(150px, auto)
                       "d e f" minmax(auto, 150px)
                       "g h i" minmax(auto, 150px)
                       "j . ." minmax(auto, 150px);
    }
}


@media screen and (min-width: 991px){
    .container {
        grid-template: "a a b c" minmax(150px, auto)
                       "a a d e" minmax(150px, auto)
                       "f g h i" minmax(auto, 150px)
                       "j . . ." minmax(auto, 150px);
    }
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}

.f {
    grid-area: f;
}

.g {
    grid-area: g;
}

.h {
    grid-area: h;
}

.i {
    grid-area: i;
}

.j {
    grid-area: j;
}

i {
    color: #ff0000;
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 10;
}
